{{ define "error501"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 501</title>
</head>
<body>
    <img src="https://kinsta.com/es/wp-content/uploads/sites/8/2017/11/error-501-no-implementado-1024x512.png" alt="ERROR 501" width="100%">
</body>
</html>
{{ end }}