{{ define "error404"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://www.cdgi.com/wp-content/uploads/2019/05/404-Pages.jpg" alt="ERROR 404" width="100%">
</body>
</html>
{{ end }}